* {
    box-sizing: border-box;
}

body {
    background-color: #4e5050;
    color: white;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.nav-link.active {
    color: #0011ff; /* Set the color to a darker shade, such as dark gray */
    font-weight: bold; /* You can adjust this based on your design preference */
}

.project-image {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    width: 150px;
    border: 1px solid #ddd; /* Add a border around the image */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin: 20px auto; /* Center the image and add margin */
}

.navbar-nav .nav-item:hover .nav-link {
    color: #007bff; /* Change to the desired hover color */
}

#preloader {
    background:black url(images/loading.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#content {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the sticky element appears above other content */
}

.section {
    opacity: 0;
    transition: opacity 3s ease; /* This will control the animation speed */
}
.show-section {
    opacity: 1;
}
