* {
    box-sizing: border-box;
}

.nav-link.active {
    color: #0011ff; /* Set the color to a darker shade, such as dark gray */
    font-weight: bold; /* You can adjust this based on your design preference */
}

.project-image {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    width: 150px;
    border: 1px solid #ddd; /* Add a border around the image */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    margin: 20px auto; /* Center the image and add margin */
}

.navbar-nav .nav-item:hover .nav-link {
    color: #007bff; /* Change to the desired hover color */
}

.navbar-nav .nav-item .nav-link {
    color: white;
}
/* #preloader {
    background:black url(images/loading.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
} */

#content {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the sticky element appears above other content */
}

.section {
    opacity: 0;
    transition: opacity 3s ease; /* This will control the animation speed */
}
.show-section {
    opacity: 1;
}

body {
    background-image: url('/images/background.jpg'); /* Replace with the actual image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.side-nav {
    /* display: flex;
    flex-direction: column-reverse; */
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100vh;
    background-color: transparent;
    color: white;
}

.side-nav ul {
    list-style: none;
    padding: 0;
}

.side-nav li {
    margin-bottom: 10px;
}

.side-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.side-nav a:hover {
    background-color: transparent;
}

.sidebar-nav li a {
    font-size: 24px; /* Adjust the size to your preference */
}
.skills-section {
    opacity: 0; /* Set initial opacity to 0 to make it invisible */
    transform: translateX(-100px); /* Start the section outside the viewport */
    transition: opacity 1s ease-in-out, transform 1s ease-in; /* Apply transition effects */
}

.skills-section.active {
    opacity: 1; /* Change opacity to 1 to make it visible */
    transform: translateX(0); /* Move the section to its original position */
}

